<div class="row">
  <div class="col-md-5">
    <h1><%= @subject.id %></h1>
    <%= image_tag @subject.image_url %>
  </div>
  <div class="col-md-7">
    <h2>Annotations</h2>
    <div class="row">
      <% @subject.collect_annotations.each_pair do |key, values| %>
        <div class="col-md-12">
          <div class="panel panel-primary">
            <div class="panel-heading"><b><%= key %> <span class='badge pull-right'> <%=@subject.most_common_for_field(key)[0]%> </span> </b></div>
            <div class="panel-body panel-overflow">
              <ul class="list-group">
                <% values.each do |ann| %>
                  <li class="list-group-item"><%= ann[:fields].values.first %> <span class="badge"><%= ann[:user_id][0..5] %></span></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
